@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.courses-container {
    max-width: 1234px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
}

.courses-row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: inherit;
}

.courses-col-4 {
    flex: 0 0 33%;
    max-width: 33%;
}

header {
    width: 100%;
    position: absolute;
}

.logo-courses {
    margin-top: 19px;
    margin-left: 50px;
    cursor: pointer;

}

.contact-courses {
    display: flex;
    float: right;
    align-items: center;
    width: 357px;
    margin-top: 16px;
    margin-right: 50px;
}

.menu-courses {
    text-align: right;
    margin-right: 50px;
    margin-top: -68px;
}

.icon-menu-cours {
    float: right;
    margin-right: 40px;
    margin-top: -95px;
}

.number-cours {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 30px;
}

.btn-enter-courses {
    background: url(../../img/bg-cours.png) no-repeat;
    padding: 15px 3px 5px 55px;
    font-weight: 800;
    font-size: 16px;
    line-height: 4px;
    color: #FFFFFF;
    width: 119px;
    height: 32.5px;
    cursor: pointer;

}

.search-mobile-cours {
    display: none;
}

.courses-mainscreen {
    height: 400px;
    background-image: url("../../img/courses-mainpic.jpg");
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 30px;
    background-position: right top;

    >img {
        background-size: cover;
        background-position: top right;
    }

    h1 {
        font-weight: 800;
        font-size: 64px;
        line-height: 96px;
        color: $white;
        margin: 0;

        span {
            color: $green;
        }
    }
}

.breadcrums {
    margin: 0 0 58px 0;
    padding-top: 45px;

    a,
    li {
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }

    a {
        color: $blue-link;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    li {
        color: $grey;
        display: inline-block;
        vertical-align: middle;

        &:not(:first-child):before {
            content: "/";
            display: inline-block;
            margin: 0 4px 0 2px;
        }
    }
}

.sidebar-filter {
    -ms-flex: 0 0 282px;
    flex: 0 0 282px;
    max-width: 282px;
    padding-right: 16px;

    >.title {
        font-weight: 900;
        font-size: 48px;
        line-height: 64px;
        color: #333333;
        margin: 0 0 30px 0;
    }

    .sidebar-filter__wrap {
        position: relative;
        width: 100%;
        border: 1px solid $green;
        min-height: auto;
        transform: skewY(-2deg);
        padding: 45px 23px;

        .sidebar-filter__cont {
            transform: skewY(2deg);

            >.title {
                font-weight: 800;
                font-size: 18px;
                line-height: 27px;
                color: $green;
                margin: 0 0 33px 0;
            }
        }
    }
}

.filter__checkfield {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;

    input {
        display: none;
    }

    label {
        margin: 0;
        padding-left: 23px;
        cursor: pointer;
        color: $black;
        font-size: 16px;
        line-height: 22px;
        position: relative;

        &:after {
            content: "";
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color: $white;
            border: 1px solid $green;
            position: absolute;
            left: 0;
            box-sizing: border-box;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    input:checked+label {
        &:after {
            background-image: url("../../img/check.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-color: $green;
        }
    }

    span {
        margin: 0;
        color: $grey;
        font-size: 16px;
        line-height: 22px;
        font-family: "Open Sans", sans-serif;
    }
}

.courses__rightcont {
    padding-left: 16px;
    -ms-flex: 0 0 calc(100% - 282px);
    flex: 0 0 calc(100% - 282px);
    max-width: calc(100% - 282px);
}

.course-block {
    max-width: 267px;
    width: 100%;
    margin-bottom: 40px;
    text-decoration: none;
    display: block;

    .pic-box {
        height: 260px;
        margin: 0 0 11px 0;
        position: relative;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;

        .pic-wrap {
            overflow: hidden;
            width: 223px;
            height: 223px;
            position: relative;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .title-box {
        max-width: 248px;
        width: 100%;
        height: 74px;
        overflow: hidden;
        text-align: center;
        color: $white;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        padding: 22px 34px 13px 34px;
        transition: all 0.5s ease-in-out;
    }

    .hoverbox {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 30px;

        .title {
            color: $white;
            font-weight: 800;
            font-size: 24px;
            line-height: 36px;
            margin: 0 0 30px 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                font-weight: bold;
                font-size: 16px;
                line-height: 36px;
                font-family: "Open Sans", sans-serif;
                color: $white;
                padding-left: 30px;
                position: relative;
                background-size: 16px 16px;
                background-position: left center;
                background-repeat: no-repeat;
            }

            li.age {
                background-image: url("../../img/people.svg");
            }

            li.time {
                background-image: url("../../img/calendar.svg");
            }

            li.status {
                background-image: url("../../img/mobile-analytics.svg");
            }
        }
    }

    .hoverbox {
        opacity: 0;
        transition: 0.5s;
    }

    &:hover {
        .hoverbox {
            opacity: 1;
            position: absolute;
            background: linear-gradient(148.2deg, rgba(102, 59, 148, 0.75) 0.96%, rgba(70, 29, 255, 0.75) 102.09%);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            padding: 30px;

            .title {
                color: $white;
                font-weight: 800;
                font-size: 24px;
                line-height: 36px;
                margin: 0 0 30px 0;
            }

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 36px;
                    font-family: "Open Sans", sans-serif;
                    color: $white;
                    padding-left: 30px;
                    position: relative;
                    background-size: 16px 16px;
                    background-position: left center;
                    background-repeat: no-repeat;
                }

                li.age {
                    background-image: url("../../img/people.svg");
                }

                li.time {
                    background-image: url("../../img/calendar.svg");
                }

                li.status {
                    background-image: url("../../img/mobile-analytics.svg");
                }
            }
        }
    }
}

.course-block.violet {
    .hoverbox {
        background: linear-gradient(148.2deg, rgba(102, 59, 148, 0.75) 0.96%, rgba(70, 29, 255, 0.75) 102.09%);
    }
}

.course-block.green {
    .hoverbox {
        background: linear-gradient(98.96deg, rgba(#099939, 0.7) 3.03%, rgba(#6eb52c, 0.7) 81.58%);
    }
}

.course-block.blue {
    .hoverbox {
        background: linear-gradient(36.05deg, rgba(#461dff, 0.7) -4.31%, rgba(#11b7ff, 0.7) 102.53%);
    }
}

.course-block.green .pic-box {
    background-image: url("../../img/green-figure.png");
}

.course-block.violet .pic-box {
    background-image: url("../../img/violet-figure.png");
}

.course-block.blue .pic-box {
    background-image: url("../../img/blue-figure.png");
}

.course-block.green .title-box {
    background-image: url("../../img/green-title.png");
}

.course-block.violet .title-box {
    background-image: url("../../img/violet-title.png");
}

.course-block.blue .title-box {
    background-image: url("../../img/blue-title.png");
}

.pagination {
    text-align: center;
    margin-top: 60px;

    .download-more {
        color: $green;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        font-family: "Roboto", sans-serif;
        background: transparent;
        border: none;
        outline: none;
        margin-bottom: 30px;

        img {
            margin-right: 4px;
            vertical-align: -3px;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            vertical-align: middle;

            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                box-sizing: border-box;
                border: 1px solid $light-grey;
                text-decoration: none;
                color: $black;
                font-size: 16px;
                line-height: 24px;
                transition: 0.3s;
            }

            span {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                box-sizing: border-box;
                border: 1px solid $light-grey;
                color: $black;
                font-size: 16px;
                line-height: 24px;
            }
        }

        li.active a,
        li a:hover {
            background: $green;
            border-color: $green;
            color: $white;
        }
    }
}

.courses-content {
    margin-bottom: 155px;
}

.individual-way {
    height: auto;
}

.greybg {
    background-color: #f6f6f6;
    padding-bottom: 75px;
}

// ADAPTIVE

@media (max-width: 1400.8px) {
    .courses-mainscreen {
        height: 350px;

        h1 {
            font-size: 44px;
            line-height: normal;
        }
    }

    .breadcrums {
        margin: 0 0 50px 0;
        padding-top: 25px;
    }

    .sidebar-filter {
        >.title {
            font-size: 32px;
            line-height: normal;
            margin: 0 0 20px 0;
        }

        .sidebar-filter__wrap {
            padding: 25px 20px;

            .sidebar-filter__cont {
                >.title {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .filter__checkfield {
        margin-bottom: 20px;
    }
}

@media (max-width: 1200px) {
    .contact-courses {
        width: 200px;
        margin-right: 90px;
    }

    .number-cours {
        display: none;
    }

    .search-mobile-cours {
        display: inline;
        margin-left: 30px;
        margin-top: 10px;
    }

    .logo-courses {
        width: 100px;
        height: 100px;
        margin-top: 10px;
    }
}

@media (max-width: 1199.8px) {
    .courses-container {
        max-width: 990px;
    }

    .sidebar-filter>.title {
        font-size: 24px;
    }

    .sidebar-filter .sidebar-filter__wrap {
        min-height: initial;
    }

    .courses__rightcont {
        .courses-col-4 {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}

@media (max-width: 991.8px) {
    .courses-container {
        max-width: 768px;
    }

    .courses-mainscreen h1 {
        font-size: 36px;
    }

    .sidebar-filter {
        flex: 0 0 240px;
        max-width: 240px;
        padding-right: 10px;
        margin: 0;
    }

    .courses__rightcont {
        margin: 0;
        padding-left: 10px;
        flex: 0 0 calc(100% - 240px);
        max-width: calc(100% - 240px);
    }

    .course-block {
        padding: 10px;
    }

    .course-block .pic-box .pic-wrap {
        width: 200px;
        height: 200px;
    }

    .course-block .pic-box {
        background-size: 100% 100%;
        height: 230px;
    }

    .course-block .title-box {
        height: 100px;
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hoverbox {
        display: none;
    }
}

.sidebar-filter__cont form {
    display: block;
}

@media (max-width: 767.8px) {
    .courses-container {
        max-width: 575px;
    }

    .sidebar-filter {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
    }

    .courses__rightcont {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
    }

    .filter__checkfield {
        margin: 0 0 20px 0;
    }

    .sidebar-filter__cont form {
        margin: 0;
    }

    .sidebar-filter .sidebar-filter__wrap {
        margin-bottom: 40px;
    }

    .logo-courses {
        width: 70px;
        height: 70px;
        margin-left: 20px;
    }

    .icon-menu-cours {

        margin-top: -64px;
    }

    .sidebar-filter__cont form {
        display: none;
        margin-top: 20px;
    }

    .sidebar-filter .sidebar-filter__wrap .sidebar-filter__cont>.title {
        margin-bottom: 0;
    }

    .sidebar-filter .sidebar-filter__wrap {
        padding: 25px 20px 16px 20px;
    }

    .sidebar-filter__cont {
        position: relative;

    }

    .sidebar-filter__cont:after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 12px;
        background-image: url('../../img/filterarrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        position: absolute;
        right: 0;
        top: 0;
        transition: .3s;
    }

    .sidebar-filter__cont.rotatebefore:after {
        transform: rotate(-180deg);
    }
  

}
@media (max-width: 575.8px) {
    .courses-container {
        max-width: 420px;
    }

    .courses-mainscreen {
        height: 250px;
        background-size: cover;
    }

    .courses-mainscreen h1 {
        font-size: 28px;
    }

    .breadcrums {
        margin: 0 0 30px 0;
        padding-top: 10px;
    }

    .courses__rightcont .courses-col-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .pagination ul li a,
    .pagination ul li span {
        width: 27px;
        height: 27px;
    }

    .course-block .title-box {
        height: 75px;
        display: block;
    }

    .course-block {
        margin-bottom: 20px;
    }
}

@media (max-width: 517px) {
    .btn-enter-courses {
        background: url(../../img/mobile-enter.png) no-repeat;
        padding: 0;
        font-weight: 800;
        width: 34.56px;
        height: 29px;
        margin-top: 26px;
        margin-right: 30px;
        cursor: pointer;

        span {
            display: none;
        }
    }

    .contact-courses {
        width: 60px;
        flex-direction: column;
        margin-right: 0px;
        margin-top: -10px;
    }

    .icon-menu-cours {
        float: right;
        margin-right: 30px;
        margin-top: -20px;
    }

    .search-mobile-cours {
        display: inline;
        margin-left: 0px;
        margin-right: 17px;
        margin-top: 140px;
        position: absolute;
    }
}











// font-family: "M PLUS 1p", sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
