.abcourses__topsect {
    background: linear-gradient(to bottom, #fafafa, #ececec);

    h1 {
        color: $dark-color;
        font-weight: 900;
        font-size: 48px;
        line-height: 64px;
        margin: 0 0 16px 0;
    }

    .leftlist {
        flex: 0 0 39%;
        max-width: 39%;
        padding-top: 45px;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                color: $black;
                font-weight: 800;
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 25px;
                background-image: url("../../img/listcheck.svg");
                background-repeat: no-repeat;
                background-position: center left;
                padding-left: 39px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .rightbox {
        flex: 0 0 61%;
        max-width: 61%;
        text-align: center;

        .timesbox {
            width: 100%;
            height: 251px;
            background-image: url("../../img/figure.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 70px 125px 0 135px;
            display: flex;
            justify-content: space-between;

            .timesbox-block {
                color: $black;
                text-align: center;
                letter-spacing: 0.2em;
                font-size: 16px;
                line-height: 20px;
                margin: 0;

                span {
                    display: block;
                    margin-bottom: 13px;
                    color: $blue-link;
                    font-weight: 800;
                    font-size: 48px;
                    line-height: 48px;
                }
            }
        }

        .reglink {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 267px;
            height: 100px;
            background-image: url("../../img/btn-bg.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
            color: $white;
            text-align: center;
            letter-spacing: 0.2em;
            font-size: 16px;
            line-height: 20px;
            text-decoration: none;
            position: relative;
            top: -75px;
            transition: 0.3s ease;
            &:hover {
                filter: drop-shadow(0px 14px 15px rgba(0, 0, 0, 0.3));
            }
        }
    }

    .abcours-btnsection {
        text-align: center;
        margin: 0;
        width: 100%;

        a {
            display: inline-block;
            margin-right: 15px;
            color: $white;
            text-align: center;
            font-weight: 800;
            font-size: 16px;
            line-height: 24px;
            max-width: 388px;
            width: 100%;
            background: $blue-link;
            padding: 18px;
            text-decoration: none;
            transition: 0.3s;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background: #2495de;
            }
        }
    }
}

.about-course {
    padding: 85px 0 100px 0;

    h2 {
        @include titleh2;
    }

    h4 {
        @include titleh4;
        margin-bottom: 30px;
    }

    p {
        color: $black;
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        margin-bottom: 20px;
    }

    ul {
        @include nostylelist;
    }
}

.vertical-sliderwrap {
    position: relative;
    margin-top: 75px;
    padding-bottom: 140px;

    .abs-figure {
        position: absolute;
        top: -143px;
        left: -53px;
        z-index: -1;
    }

    .vertical-slider {
        display: flex;
        flex-wrap: wrap;
        box-sizing: inherit;

        .vertical-slider__left {
            flex: 0 0 67%;
            max-width: 67%;
            padding-right: 10px;

            .slidebig {
                height: 531px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }

            .slick-arrow {
                position: absolute;
                bottom: -82px;
                width: 60px;
                height: 58px;
                border: none;
                outline: none;
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100% 100%;
                background-color: transparent;
                cursor: pointer;
            }

            .slick-prev.slick-arrow {
                right: 78px;
                background-image: url("../../img/slider-arrowleft.svg");
            }

            .slick-next.slick-arrow {
                right: 0;
                background-image: url("../../img/slider-arrowright.svg");
            }

            .slick-dots {
                display: inline-block;
                width: auto;
                left: 0;

                li {
                    margin: 0 20px 0 0;
                    width: auto;
                    height: auto;

                    button {
                        width: 12px;
                        height: 12px;
                        padding: 0;
                        outline: none;
                        background-image: url("../../img/dots.svg");
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        background-position: center;

                        &:before {
                            display: none;
                        }
                    }
                }

                li.slick-active {
                    button {
                        background-image: url("../../img/dots-act.svg");
                    }
                }
            }
        }

        .vertical-slider__right {
            flex: 0 0 33%;
            max-width: 33%;
            padding-left: 10px;

            .slidelitt {
                overflow: hidden;
                height: 255px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                }

                iframe {
                    width: 100%;
                    height: 100%;
                }
            }

            .slidelitt.slidelitt__video {
                &:after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 65px;
                    height: 65px;
                    display: inline-block;
                    background: url("../../img/play-btn.png") no-repeat center;
                }
            }

            .slick-list {
                margin-top: -6px;
                margin-bottom: -6px;

                .slick-slide {
                    margin-top: 6px;
                    margin-bottom: 6px;
                }
            }
        }
    }
}

.learn-program {
    background: url("../../img/violetbg.png");
    background-repeat: no-repeat;
    background-position: top 55px right;
    background-size: cover;
    margin-bottom: -130px;
    padding-bottom: 100px;

    h2 {
        @include double-title;
        margin: 0 0 175px 0;
    }

    .learn-program__box {
        flex: 0 0 50%;
        max-width: 50%;

        .title {
            font-size: 48px;
            line-height: 64px;
            color: $white;
            margin: 0 0 77px 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0 0 50px 0;

            li {
                color: $white;
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                padding-left: 30px;
                position: relative;
                background-repeat: no-repeat;
                background-position: left center;
                background-size: 12px 12px;
                margin-bottom: 30px;

                &:nth-child(even) {
                    background-image: url("../../img/list-styletype2.svg");
                }

                &:nth-child(odd) {
                    background-image: url("../../img/list-styletype1.svg");
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        a.download-file {
            color: $white;
            letter-spacing: 0.2em;
            text-decoration-line: underline;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            font-family: "Open Sans", sans-serif;
            display: inline-block;
            padding-left: 30px;
            background-image: url("../../img/download-icon.svg");
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 20px;

            &:hover {
                text-decoration: none;
            }
        }

        a.beauty-btn {
            @include beauty-button;
            transition: 0.3s ease;
            &:hover {
                filter: drop-shadow(0px 14px 15px rgba(0, 0, 0, 0.3));
            }
        }
    }
}

.todown {
    cursor: pointer;
}

.vertical-sliderwrap .abs-figure {
    max-width: 100%;
}

// COURSES ABOUT ADAPTIVE
@media (max-width: 1199.8px) {
    .abcourses__topsect {
        h1 {
            font-size: 32px;
        }
    }

    .abcourses__topsect .leftlist ul li {
        font-size: 16px;
        line-height: normal;
        padding-top: 6px;
        padding-bottom: 6px;
        margin-bottom: 10px;
    }

    .abcourses__topsect .rightbox .timesbox .timesbox-block {
        letter-spacing: 0.1em;

        span {
            font-size: 38px;
        }
    }

    .abcourses__topsect .rightbox .timesbox {
        height: 230px;
        padding: 55px 100px 0 105px;
    }

    .about-course h2 {
        font-size: 42px;
    }

    .vertical-sliderwrap .vertical-slider .vertical-slider__left .slidebig {
        height: 400px;
    }

    .vertical-sliderwrap .vertical-slider .vertical-slider__right .slidelitt {
        height: 190px;
    }

    .about-course h4 {
        font-size: 22px;
    }

    .learn-program h2 {
        font-size: 42px;
        margin-bottom: 140px;
    }

    .learn-program h2 span {
        font-size: 96px;
    }

    .learn-program .learn-program__box .title {
        font-size: 42px;
        line-height: normal;
        margin-bottom: 40px;
    }

    .learn-program .learn-program__box ul li {
        font-size: 18px;
        margin-bottom: 15px;
    }
}

@media (max-width: 991.8px) {
    .abcourses__topsect .abcours-btnsection a {
        max-width: 250px;
    }

    .about-course h2 {
        font-size: 32px;
        line-height: normal;
    }

    .about-course {
        padding: 50px 0;
    }

    .learn-program h2,
    .learn-program .learn-program__box .title {
        font-size: 36px;
    }
}

@media (max-width: 767.8px) {
    .abcourses__topsect .leftlist,
    .abcourses__topsect .rightbox {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .abcourses__topsect .leftlist {
        padding-top: 0;
        margin-bottom: 20px;
    }

    .vertical-sliderwrap .vertical-slider .vertical-slider__right {
        display: none;
    }

    .vertical-sliderwrap .vertical-slider .vertical-slider__left {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0px;
    }

    .vertical-sliderwrap .vertical-slider .vertical-slider__left .slidebig {
        height: auto;
    }

    .vertical-sliderwrap {
        margin-top: 25px;
        padding-bottom: 100px;
    }

    .learn-program .learn-program__box {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }

    .learn-program .learn-program__box .title {
        br {
            display: none;
        }
    }

    .learn-program .learn-program__box a.beauty-btn {
        margin-bottom: 40px;
 
    }

    .learn-program .learn-program__box ul {
        text-align: left;
    }

    .learn-program h2 {
        margin-bottom: 75px;
    }
}

@media (max-width: 575.8px) {
    .learn-program h2,
    .learn-program .learn-program__box .title {
        font-size: 24px;
    }

    .learn-program h2 span {
        font-size: 55px;
        top: -15px;
    }

    .abcourses__topsect h1 {
        font-size: 24px;
        line-height: normal;
    }

    .abcourses__topsect .rightbox .timesbox {
        height: 200px;
        padding: 30px;
        background-image: none;
        background-color: #fff;
    }

    .abcourses__topsect .abcours-btnsection a {
        max-width: 100%;
        margin: 0 0 10px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .about-course h2 {
        font-size: 24px;
    }

    .vertical-sliderwrap .vertical-slider .vertical-slider__left .slick-arrow {
        width: 40px;
        height: 40px;
        bottom: -50px;
    }

    .vertical-sliderwrap .vertical-slider .vertical-slider__left .slick-prev.slick-arrow {
        right: 55px;
    }

    .about-course h4 {
        font-size: 18px;
        line-height: normal;
        font-weight: 600;
    }

    .vertical-sliderwrap {
        padding-bottom: 55px;
    }
}
