footer {
    height: 206px;
    margin-top: 80px;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;

    .footer__content {
        background: #333333;
        height: 158px;
        width: 100%;
        padding: 0 50px;
        display: flex;
        flex-wrap: wrap;
        box-sizing: inherit;
    }

    .footer-leftpic {
        position: absolute;
        left: 0;
        top: 0;
    }

    .footer__content-left {
        flex: 0 0 calc(50% - 70px);
        max-width: calc(50% - 70px);
        position: relative;
        z-index: 2;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .footer__title {
            flex: 0 0 50%;
            max-width: 50%;
            padding-top: 24px;

            p {
                color: $white;
                font-weight: 900;
                font-size: 24px;
                line-height: 30px;
                margin: 0 0 25px 0;
            }

            a {
                text-decoration: none;
                color: $black;
                font-weight: 500;
                font-size: 12px;
                line-height: 20px;
                display: inline-block;

                &:first-child {
                    margin-right: 13px;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .footer__social {
            flex: 0 0 50%;
            max-width: 50%;
            padding-top: 36px;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 15px;
                    transition: 0.3s ease;
                    &:last-child {
                        margin-right: 0;
                    }
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    .footer__content-right {
        flex: 0 0 calc(50% - 70px);
        max-width: calc(50% - 70px);
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

        a {
            width: 290px;
            height: 84px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            padding: 30px 38px 11px 38px;
            text-align: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            font-family: "Open Sans", sans-serif;
            color: $white;
            letter-spacing: 0.2em;
            font-size: 16px;
            line-height: 20px;
            margin: 0;
        }

        .footer__greenbtn {
            background-image: url("../../img/footer-btngreen.png");
            transition: 0.3s ease;
            &:hover {
                opacity: 0.5;
            }
        }

        .footer__violetbtn {
            background-image: url("../../img/footer-btnviolet.png");
            margin-left: 110px;
            transition: 0.3s ease;
            &:hover {
                opacity: 0.5;
            }
        }
    }

    .footer__content-center {
        flex: 0 0 140px;
        max-width: 140px;
        text-align: center;

        .todown {
            margin-top: 15px;
            margin-top: 15px;
            transition: 0.3s ease;
            &:hover {
                opacity: 0.8;
            }
        }

        p {
            color: #4f4f4f;
            font-size: 12px;
            line-height: 20px;
        }
    }
}

footer .footer__content-left .footer__title a:last-child {
    margin-left: 10px;
}

@media (max-width: 1600.8px) {
    footer {
        .footer-leftpic {
            width: 40%;
            height: 100%;
        }
    }

    footer .footer__content-left .footer__title p {
        font-size: 18px;
        line-height: normal;
        margin: 0 0 15px 0;
    }

    footer .footer__content-left .footer__social ul li {
        margin-right: 10px;

        a img {
            width: 30px;
            height: 30px;
        }
    }

    footer .footer__content-right a {
        width: 250px;
        height: 75px;
    }

    footer .footer__content-right .footer__violetbtn {
        margin-left: 50px;
    }

    footer .footer__content {
        height: 120px;
    }

    footer {
        height: 156px;
    }

    footer .footer__content-left .footer__title {
        padding-top: 10px;
    }

    footer .footer__content-center .todown {
        margin-top: 0;
    }

    footer .footer__content-center .todown img {
        width: 70px;
    }

    footer .footer__content-right a {
        padding: 20px 30px 10px 30px;
    }
}

@media (max-width: 1400.8px) {
    footer .footer__content-left .footer__title p {
        font-size: 16px;
        margin: 0 0 5px 0;
    }

    footer .footer__content-left .footer__title a:last-child {
        margin-left: 0;
    }

    footer .footer__content-right .footer__violetbtn {
        margin-left: 20px;
    }

    footer .footer__content-right a {
        letter-spacing: initial;
    }
}

@media (max-width: 1199.8px) {
    footer .footer__content {
        height: auto;
        padding-top: 20px;
    }

    footer {
        height: auto;
    }

    footer .footer__content-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    footer .footer-leftpic {
        display: none;
    }

    footer .footer__content-left .footer__title a {
        color: $green;
    }

    footer .footer__content-left {
        flex: 0 0 calc(100% - 140px);
        max-width: calc(100% - 140px);
    }

    footer .footer__content-right {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 30px;
    }
}

@media (max-width: 575.8px) {
    footer .footer__content-center {
        flex: 0 0 100px;
        max-width: 100px;
    }

    footer .footer__content-left {
        flex: 0 0 calc(100% - 100px);
        max-width: calc(100% - 100px);
        padding-right: 20px;
    }

    footer .footer__content-left .footer__social {
        flex: 0 0 30px;
        max-width: 30px;
    }

    footer .footer__content-left .footer__social ul li {
        margin-right: 0;
    }

    footer .footer__content-left .footer__title {
        flex: 0 0 calc(100% - 30px);
        max-width: calc(100% - 30px);
    }

    footer .footer__content-right a {
        max-width: 250px;
        width: 100%;
    }

    footer .footer__content-right {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .footer__content-right .footer__greenbtn {
        margin-bottom: 20px;
    }

    footer .footer__content-left .footer__title {
        padding-right: 10px;
    }
}

@media (max-width: 420.8px) {
    footer .footer__content {
        padding-left: 15px;
        padding-right: 15px;
    }

    footer .footer__content-left {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
        order: 2;
    }

    footer .footer__content-center {
        order: 1;
    }

    .footer__content-right {
        order: 3;
    }

    footer .footer__content-left .footer__social {
        padding-top: 15px;
    }

    footer .footer__content-left .footer__title a {
        display: block;
    }
}
