 
.bg-news {
 
    padding-bottom: 70px;
  
}
.container-news{
    background: url(../../img/bg-news.png) no-repeat;
    background-size: cover;
    padding-bottom: 210px;
}
#footer-news{
    margin-top: -110px;
}
 .page_new{
     padding-bottom: 110px;
     margin-bottom: -120px;
 }