#left_block{
    min-height: 0px;
}
#block_result{
 margin-left: -80px;
}
#text_result-block{
    padding-top: 30px;
}
@media screen and (max-width: 991px) {
    #block_result{
        margin-left: 0;
       }  
}
